{% extends "scrum/base.html" %}

{% block title %}Bugmail Stats{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>Bugmail Stats <small>Since {{ bugmail_stats.date_started|datetime }}</small></h1>
    {% if bugmail_stats %}
      <h2>Total Mail Recieved: <span class="text-info">{{ bugmail_stats.total }}</span></h2>
      <h2>Bugmail Used: <span class="text-info">{{ bugmail_stats.used }}</span></h2>
      <h2>Percent Used: <span class="text-info">{{ bugmail_stats.percent_used }}</span></h2>
      <h2>Average Mail Per Day: <span class="text-info">{{ bugmail_stats.avg_mail }}</span></h2>
    {% else %}
      <p>Redis is not configured. Stats are not being collected.</p>
    {% endif %}
  </div>
{% endblock %}
