{% from "scrum/includes/macros.html" import bug_table with context %}

<div class="row">
  <div class="span12">
    {% if not scrum_only %}
      <a href="{{ request.path }}" class="btn pull-right">Hide dataless bugs</a>
    {% endif %}
    <h2>Stories</h2>
    {% if scrum_only and object.num_no_data_bugs %}
      <div class="alert">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> There are {{ object.num_no_data_bugs }} bug{{ object.num_no_data_bugs|pluralize }} with no scrum data.
        <a href="?all=1">Show them</a>?
      </div>
    {% endif %}
    {{ bug_table(bugs, blocked_bugs=blocked_bugs) }}
  </div>
</div>

<div class="row">
  <div class="span6">
    <h4>Legend</h4>
    <table class="table-condensed">
      <tbody>
      <tr class="bug-closed pull-left">
        <td>Closed</td>
      </tr>
      <tr class="bug-scoreless pull-left">
        <td>Scoreless</td>
      </tr>
      <tr class="bug-open pull-left">
        <td>Unassigned</td>
      </tr>
      {% if not object.scrum_only %}
        <tr class="bug-dataless pull-left">
          <td>Dataless</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <div class="span6">
    {% for product in object.get_products() %}
      <a class="btn" target="_blank" href="{{ BZ_FILE_URL }}product={{ product }}"><i class="icon-plus-sign"></i> {{ product }} bug</a>
    {% endfor %}
    {% if bz_search_url %}
      <a href="{{ bz_search_url }}" target="_blank" class="btn">See in Bugzilla</a>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Last updated: {{ object.date_cached|timesince }} ago</h4>
    <p>Hard refresh your browser to get new data from Bugzilla.</p>
    <p>Data is refreshed automatically every {{ CACHE_BUGS_FOR }} hours.</p>
  </div>
</div>
