<div class="row">
  <div class="span12">
    {% if not object.scrum_only %}
      <a href="{{ request.path }}" class="btn pull-right">Hide dataless bugs</a>
    {% endif %}
    <h2>Bugs</h2>
    {% if object.num_no_data_bugs %}
      <div class="alert">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> There are {{ object.num_no_data_bugs }} bug{{ object.num_no_data_bugs|pluralize }} with no scrum data.
        <a href="?all=1">Show them</a>?
      </div>
    {% endif %}
    <table class="table table-striped table-condensed" id="bugs-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Summary</th>
        <th>Assigned</th>
        <th>User</th>
        <th>Component</th>
        <th>Points</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for bug in bugs %}
        <tr data-bugid="{{ bug.id }}" id="bug{{ bug.id }}" class="bug-{{ bug.basic_status }}">
          <td><a href="{{ bug.get_absolute_url() }}">{{ bug.id }}</a></td>
          <td>{{ bug.priority }}</td>
          <td>{{ bug.summary }}</td>
          <td class="ttip" title="{{ bug.assigned_real_name }}">{{ bug.assigned_name }}</td>
          <td>{{ bug.story_user }}</td>
          <td>{{ bug.story_component }}</td>
          <td>{{ bug.story_points }}</td>
          <td>{{ bug.status }}</td>
          <td width="1"><a class="btn btn-mini btn-inverse" href="{{ BZ_FILE_URL }}blocked={{ bug.id }}&product={{ bug.product }}&component={{ bug.component }}" title="Add Blocking Bug"><i class="icon-ban-circle icon-white"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h4>Legend</h4>
    <table class="table-condensed">
      <tbody>
      <tr class="bug-closed pull-left">
        <td>Closed</td>
      </tr>
      <tr class="bug-scoreless pull-left">
        <td>Scoreless</td>
      </tr>
      <tr class="bug-open pull-left">
        <td>Unassigned</td>
      </tr>
      {% if not object.scrum_only %}
        <tr class="bug-dataless pull-left">
          <td>Dataless</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <div class="span6">
    <div class="btn-group">
      {% for product in object.get_products() %}
        <a class="btn" href="{{ BZ_FILE_URL }}product={{ product }}"><i class="icon-plus-sign"></i> {{ product }} bug</a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Last updated: {{ object.date_cached|timesince }} ago</h4>
    <p>Hard refresh your browser to get new data from Bugzilla.</p>
    <p>Data is refreshed automatically every {{ CACHE_BUGS_FOR }} hours.</p>
  </div>
</div>
