<div class="row">
  <div class="span12">
    <h1>
      {% if project %}
        <a href="{{ project.get_absolute_url() }}">{{ project.name }}</a>
        {% if sprint %}
          / {{ sprint.name }}
        {% endif %}
      {% elif team %}
        <a href="{{ team.get_absolute_url() }}">{{ team.name }}</a>
      {% endif %}
    </h1>
    <h2>Could not contact Bugzilla</h2>
    <p>Maybe Bugzilla is down, or the server is having issues.
       Either way, it's <a href="http://isitmfbt.com/" target="_blank">MFBT</a> \o/</p>
  </div>
</div>
