<form action="{{ bzproduct_form_url }}"
      class="form-horizontal"
      method="post"
      autocomplete="off"
      id="bzproduct_form">
  {{ csrf() }}
  <div class="control-group">
    <label class="control-label" for="id_product">Add a Product</label>
    <div class="controls">
      <div class="input-append" id="id_url_wrapper">
        <input id="id_product"
               class="input-xlarge"
               name="product"
               placeholder="Bugzilla Product/Component"
               type="text"><button class="btn" type="submit" id="add_product_btn"><i class="icon-plus" id="add_product_icon"></i></button>
        <p class="help-block">Select the "__ALL__" component to include the entire Product.</p>
      </div>
    </div>
  </div>
</form>
