<table class="table table-striped table-condensed" id="bzurl_list">
  <thead>
    <tr>
      <th>URL</th>
      <th>Product(s)</th>
      <th>Component(s)</th>
      <th>Whiteboard</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for bzurl in bzurls %}
      <tr>
        <td><a href="{{ bzurl.url }}"
               target="_blank">{{ bzurl.url|truncate(30, True) }}</a></td>
        <td>{{ bzurl.get_products()|join(", ") }}</td>
        <td>{{ bzurl.get_components()|join(", ") }}</td>
        <td>{{ bzurl.get_whiteboard() }}</td>
        <td width="1">
          <a href="{{ url('scrum_url_delete', bzurl.pk) }}" class="btn btn-mini btn-danger bzurl-remove" title="Remove URL"><i class="icon-remove icon-white"></i></a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">No URLs so far</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
