{% macro left_nav(name, items, active=None) -%}
<ul class="nav nav-list">
  <li class="nav-header">{{ name }}</li>
  {% for i in items %}
    <li{% if i == active %} class="active"{% endif %}>
      <a href="{{ i.get_absolute_url() }}">{{ i.name }}</a>
    </li>
  {% endfor %}
</ul>
{%- endmacro %}

{% macro bugs_table(bugs, id='bugs-table', is_backlog=False, is_sprint=False) -%}
  {% if not bugs %}
    <p>No stories to display so far.</p>
  {% else %}
    <table class="table table-striped table-condensed" id="{{ id }}">
      <thead>
      <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Summary</th>
        <th>Assigned</th>
        <th>User</th>
        <th>Component</th>
        <th>Points</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for bug in bugs %}
        <tr id="{{ bug.id }}" data-points="{{ bug.story_points }}" class="bug-{{ bug.basic_status }}">
          <td><a href="{{ bug.get_absolute_url() }}">{{ bug.id }}</a></td>
          <td><a href="{{ bug.project.get_absolute_url() }}">{{ bug.project }}</a></td>
          <td>{{ bug.priority }}</td>
          <td>{{ bug.summary }}</td>
          <td class="ttip" title="{{ bug.assigned_real_name }}">{{ bug.assigned_name }}</td>
          <td>{{ bug.story_user }}</td>
          <td>{{ bug.story_component }}</td>
          <td>{{ bug.story_points }}</td>
          <td>{{ bug.status }}</td>
          {% if is_sprint %}
            <td width="1"><button title="Remove from Sprint" class="btn btn-mini btn-danger remove-bug"><i class="icon-remove icon-white"></i></button></td>
          {% elif is_backlog %}
            <td width="1"><button title="Add to Sprint" class="btn btn-mini btn-success add-bug"><i class="icon-plus icon-white"></i></button></td>
          {% else %}
            <td width="1"><a class="btn btn-mini" href="{{ BZ_FILE_URL }}blocked={{ bug.id }}&product={{ bug.product }}&component={{ bug.component }}" title="Add Blocking Bug"><i class="icon-ban-circle"></i></a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{%- endmacro %}
