{% extends "scrum/base_project.html" %}
{% from "bootstrap/forms/macros.html" import field %}

{% block main_content %}
  {% if project %}
    <h1>Edit <a href="{{ url('scrum_project', project.slug) }}">{{ project.name }}</a></h1>
  {% else %}
    <h1>Create Project</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path() }}"
        class="form-horizontal"
        method="post"
        id="project_form_{{ 'edit' if project else 'create' }}">
    {{ csrf() }}
    {% for f in form %}
      {{ field(f) }}
    {% endfor %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ 'Update' if project else 'Create' }}</button>
      <a href="{% if project %}{{ project.get_absolute_url() }}{% else %}{{ url('scrum_projects_list') }}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
  {% if project %}
    <div id="bzproducts_container">
      <h2 id="bzproducts">Bugzilla Products/Components</h2>
      <div id="bzproducts_list_wrapper" data-url="{{ url('scrum_project_products', project.slug) }}">
        {% with bzproducts=project.products.all() %}
          {% include "scrum/bzproduct_list.html" %}
        {% endwith %}
      </div>
      {% with bzproduct_form_url=url('scrum_project_products', project.slug) %}
        {% include "scrum/bzproduct_form.html" %}
      {% endwith %}
      <div class="well">
        Note: After adding a Bugzilla product and/or component, it
        may take a few minutes for the Scrumbugs faeries to fetch
        your data from Bugzilla, add the secret Scrumbugs ingredients,
        shape them it into cookies, frost them, and bake them in the
        Scrumbugs oven. When that's done, you should see the bugs that
        are not resolved and that have some scrum data in the whiteboard
        in your backlog.
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.7/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
  <script type="text/javascript">
    var bz_product_choices = {{ bz_product_choices|safe }};
    $("#id_product").typeahead({source: bz_product_choices, items: 10});
  </script>
{% endblock %}
