{% extends "scrum/base_project.html" %}

{% block content %}
  {% if bzerror %}
    {% include "scrum/bzerror.html" %}
  {% else %}
    {% if perms.scrum.change_project %}
      <a class="btn btn-primary pull-right"
         href="{{ url('scrum_project_edit', project.slug) }}">
        <i class="icon-edit icon-white"></i> Edit
      </a>
    {% endif %}
    <h1>{{ project.name }}</h1>
    <hr>
    <h2>Currently Coding</h2>
    <p>PUT STUFF HERE</p>
    <hr>
    {% if perms.scrum.change_project %}
      <a class="btn btn-small btn-primary pull-right"
         href="{{ url('scrum_project_bugs', project.slug) }}">
        <i class="icon-list icon-white"></i> Manage Ready Stories
      </a>
    {% endif %}
    <h2>Ready Backlog</h2>
    <p>PUT STUFF HERE</p>
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/project.js"></script>
{% endblock %}
