{% extends "scrum/base.html" %}
{% load bootstrap %}

{% block main_content %}
  {% if project %}
    <h1>Edit {{ project.name }}</h1>
  {% else %}
    <h1>Create Project</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path }}"
        class="form-horizontal"
        method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ project|yesno:"Update,Create" }}</button>
      <a href="{% if project %}{{ project.get_absolute_url }}{% else %}{% url scrum_projects_list %}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
  {% if project %}
    <h2>Edit URLs</h2>
    <form action="{% url scrum_project_urls project.slug %}"
          class="form-horizontal"
          method="post">
      {% csrf_token %}
      <ul class="urls">
        {% include "scrum/bzurl_list.html" %}
      </ul>
      <div class="control-group">
        <label class="control-label" for="id_url">Add a URL</label>
        <div class="controls">
          <div class="input-append">
            <input id="id_url"
                   name="url"
                   placeholder="https://bugzilla.mozilla.org/..."
                   type="text"><button class="btn" type="submit"><i class="icon-plus"></i></button>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}
