{% extends "scrum/base.html" %}

{% block title %}{{ sprint.name }} / {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">
      {% if perms.scrum.change_sprint %}
        <a class="btn btn-primary pull-right"
           href="{% url scrum_sprint_edit project.slug sprint.slug %}">
          <i class="icon-edit icon-white"></i> Update Sprint
        </a>
      {% endif %}

      <h1>
        Manage <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        / {{ sprint.name }} Stories
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sprints</li>
          {% for s in project.sprints.all %}
            <li{% if s == sprint %} class="active"{% endif %}><a href="{% url scrum_sprint_bugs project.slug s.slug %}">{{ s.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="span5">
      <h2>Backlog</h2>
      <ul class="backlog storylist well">
        {% for bug in project.get_backlog %}
          {% include "scrum/storylist_item.html" %}
        {% endfor %}
      </ul>
    </div>
    <div class="span5">
      <div class="alert alert-error hide" id="form_error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        You must select at least one story
      </div>
      <form action="{{ request.path }}"
            method="post"
            class="pull-right"
            id="sprint-form">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary pull-right">Save</button>
      </form>
      <h2>Sprint: Points = <span id="current-points"></span></h2>
      <ul class="sprint storylist well">
        {% for bug in sprint.backlog_bugs.all %}
          {% include "scrum/storylist_item.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/sprint_bug_management.js"></script>
{% endblock %}
