{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
  <div class="row">
    <div class="span12">
      <a class="btn btn-primary pull-right"
         href="#modal_form"
         data-toggle="modal">
        <i class="icon-edit icon-white"></i> Update Sprint
      </a>
      <h1><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &mdash; {{ sprint.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <h2>Numbers</h2>
      <dl class="well sprint-numbers">
        <dt>Total Points</dt>
        <dd>{{ bugs_data.total_points }}</dd>
        <dt>Total Stories</dt>
        <dd>{{ bugs|length }}</dd>
        {% for data in bugs_data.basic_status %}
          <dt>{{ data.label|capfirst }} Points</dt>
          <dd>{{ data.data }}</dd>
        {% endfor %}
      </dl>
    </div>
    <div class="span9">
      <h2>Burninate!!!</h2>
      <div id="burndown"></div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Status</h2>
      <div class="piegraph" id="status-pie"></div>
    </div>
    <div class="span4">
      <h2>Component</h2>
      <div class="piegraph" id="component-pie"></div>
    </div>
    <div class="span4">
      <h2>Story User</h2>
      <div class="piegraph" id="user-pie"></div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped table-condensed" id="bugs-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Summary</th>
            <th>Assigned To</th>
            <th>User</th>
            <th>Component</th>
            <th>Points</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for bug in bugs %}
            <tr data-bugid="{{ bug.id }}" id="bug{{ bug.id }}"{% if bug.is_closed %} class="bug-closed"{% endif %}>
              <td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a></td>
              <td>{{ bug.summary }}</td>
              <td>{{ bug.assigned_to.real_name }}</td>
              <td>{{ bug.user }}</td>
              <td>{{ bug.component }}</td>
              <td>{{ bug.points }}</td>
              <td>{{ bug.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include "scrum/modal_form.html" %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.pie.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.resize.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/modal_form.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sprint.js"></script>
  <script type="text/javascript">
    $(function(){
      "use strict";

      var BUGS_DATA = {{ bugs_data_json|safe }};
      init_tooltip();
      new Burndown('#burndown', BUGS_DATA.burndown, BUGS_DATA.burndown_axis);
      new PieFlot('#component-pie', BUGS_DATA.components);
      new PieFlot('#user-pie', BUGS_DATA.users);
      new PieFlot('#status-pie', BUGS_DATA.basic_status, {
        color: {
          open: "rgb(237, 194, 64)",
          closed: "rgb(77, 167, 77)",
          assigned: "rgb(175, 216, 248)"
        }
      });

      $('#bugs-table').tablesorter({sortList: [[5,1]]});
    });
  </script>
{% endblock %}
