{% extends "scrum/base.html" %}

{% block main_content %}
  <h1><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &mdash; {{ sprint.name }}</h1>
  <div class="row">
    <div class="span3" id="status-pie"></div>
    <div class="span3" id="component-pie"></div>
    <div class="span3" id="user-pie"></div>
  </div>
  <div class="row">
    <div class="span9" id="burndown"></div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.pie.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.resize.min.js"></script>
  <script type="text/javascript">
    $(function(){
      "use strict";
      var BUGS_DATA = {{ bugs_data }};
    });
  </script>
{% endblock %}
