{% extends "scrum/base_team.html" %}
{% from "bootstrap/forms/macros.html" import field, non_field_errors %}

{% block main_content %}
  {% if sprint %}
    <h1>Edit <a href="{{ url('scrum_team', team.slug) }}">{{ team.name }}</a> / <a href="{{ url('scrum_sprint', team.slug, sprint.slug) }}">{{ sprint.name }}</a></h1>
  {% else %}
    <h1>Create <a href="{{ url('scrum_team', team.slug) }}">{{ team.name }}</a> Sprint</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path() }}"
        class="form-horizontal"
        method="post">
    {{ csrf() }}
    {{ non_field_errors(form) }}
    {% for f in ['name', 'slug', 'start_date', 'end_date', 'notes'] -%}
      {{ field(form[f]) }}
    {%- endfor %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ 'Update' if sprint else 'Create' }}</button>
      <a href="{% if sprint %}{{ sprint.get_absolute_url() }}{% else %}{{ url('scrum_team', team.slug) }}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.7/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}
