{% extends "scrum/base.html" %}
{% from "bootstrap/forms/macros.html" import field %}

{% block main_content %}
  {% if sprint %}
    <h1>Edit <a href="{{ url('scrum_project', project.slug) }}">{{ project.name }}</a> / <a href="{{ url('scrum_sprint', project.slug, sprint.slug) }}">{{ sprint.name }}</a></h1>
  {% else %}
    <h1>Create <a href="{{ url('scrum_project', project.slug) }}">{{ project.name }}</a> Sprint</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path() }}"
        class="form-horizontal"
        method="post">
    {{ csrf() }}
    {% for f in form -%}
      {{ field(f) }}
    {%- endfor %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ 'Update' if sprint else 'Create' }}</button>
      <a href="{% if sprint %}{{ sprint.get_absolute_url() }}{% else %}{{ url('scrum_project', project.slug) }}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
  {% if sprint %}
    <h2>Bugzilla URLs</h2>
      {% with bzurl_form_url=url('scrum_sprint_urls', project.slug, sprint.slug) %}
        <div id="bzurl_list_wrapper" data-url="{{ bzurl_form_url }}">
        {% with bzurls=sprint.urls.all() %}
          {% include "scrum/bzurl_list.html" %}
        {% endwith %}
      </div>
      {% include "scrum/bzurl_form.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}
