{% extends "scrum/base_team.html" %}
{% from "bootstrap/forms/macros.html" import field, non_field_errors %}

{% block main_content %}
  {% if team %}
    <h1>Edit {{ team.name }} Team</h1>
  {% else %}
    <h1>Create a Team</h1>
  {% endif %}
  <hr>
  <form action="{{ request.get_full_path() }}"
        class="form-horizontal"
        method="post">
    {{ csrf() }}
    {{ non_field_errors(form) }}
    {% for f in form -%}
      {{ field(f) }}
    {%- endfor %}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{{ 'Update' if team else 'Create' }}</button>
      <a href="{% if team %}{{ team.get_absolute_url() }}{% else %}{{ url('scrum_teams_list') }}{% endif %}" class="btn">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="//cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}
