Django>=1.4.1
Unipath
django-floppyforms
python-dateutil==2.1
slumber
simplejson==2.6.0
django-jsonfield==0.8.10
django-storages==1.1.4
boto==2.3.0
raven==1.8.1
South==0.7.5
Jinja2==2.6
jingo==0.4
git+https://github.com/auzigog/jinja-bootstrap.git@v0.3.0
Markdown==2.2.0
nose
django-nose
pytz==2012d
django-cronjobs==0.2.3
django-model-utils==1.1.0
