# Production Requirements
-r requirements-base.txt

gunicorn==0.13.4
gevent==0.13.7
greenlet==0.3.4
django-pylibmc
pylibmc==1.2.3
psycopg2==2.4.5
dj-database-url==0.2.1
redis==2.6.2
hiredis==0.1.1
newrelic
