{% extends "base.html" %}

{% block title %}Bugmail Stats{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>Bugmail Stats</h1>
        </div>
        <div class="span6">
            <h2>Bugmails we used <small>2 week total: <strong id="total_used"></strong></small></h2>
            <div id="used_stats_chart"></div>
        </div>
        <div class="span6">
            <h2>Total bugmails received <small>2 week total: <strong id="total_total"></strong></small></h2>
            <div id="total_stats_chart"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/stats.js"></script>
    <script type="text/javascript">
        $(function(){
            "use strict";

            var all_stats = {{ stats|safe }};

            var stat_sum = function(memo, stat){ return memo + stat[1]; };
            $('#total_total').html(numberWithCommas(_.reduce(all_stats.total, stat_sum, 0)));
            $('#total_used').html(numberWithCommas(_.reduce(all_stats.used, stat_sum, 0)));

            new StatsChart('#total_stats_chart', all_stats.total, all_stats.x_axis);
            new StatsChart('#used_stats_chart', all_stats.used, all_stats.x_axis);
        });
    </script>
{% endblock %}
