div.row {
    margin-bottom: 10px;
}

.sidebar-nav{
    padding: 8px 0;
}

.modal .modal-form {
    margin-bottom: 0;
}

dl.sprint-numbers dd {
    font-size: 26pt;
    font-style: italic;
    line-height: 1em;
    margin-left: 1em;
    margin-bottom: .5em;
}

dl.sprint-numbers dt {
    font-size: 14pt;
    line-height: 1em;
    border-bottom: 2px solid #ccc;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #333;
    color: #fff;
    opacity: 0.95;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    line-height: 1.5em;
}

table thead tr .header{
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    padding-left: 21px;
}

table thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
    background-color: rgb(221, 221, 221);
}

table thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
    background-color: rgb(221, 221, 221);
}

tr.bug-closed td{
    background-color: #dff0d8 !important;
}
