<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}ScrumBugs{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agile views of your Bugzilla data.">
    <meta name="author" content="Paul McLanahan and contributors">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/scrumbugs_favicon.png">
{#    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">#}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url('scrum_home') }}"><img src="{{ STATIC_URL }}img/scrumbugs_favicon.png"
                                                               alt="Scrumby"> ScrumBugs{% if not PROD_MODE %}-DEV{% endif %}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li{% if request.path_info == '/' %} class="active"{% endif %}><a href="{{ url('scrum_home') }}">Home</a></li>
              <li class="dropdown{% if request.path_info.startswith('/t') %} active{% endif %}">
                <a href="{{ url('scrum_teams_list') }}"
                   class="dropdown-toggle"
                   data-toggle="dropdown"><i class="icon-user"></i> Teams <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for _team in teams %}
                    <li{% if team == _team %} class="active"{% endif %}><a href="{{ _team.get_absolute_url() }}">{{ _team.name }}</a></li>
                  {% endfor %}
                  {% if perms.scrum.add_team %}
                    <li class="divider"></li>
                    <li><a href="{{ url('scrum_team_new') }}"><i class="icon-plus-sign"></i> New Team</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="dropdown{% if request.path_info.startswith('/p') %} active{% endif %}">
                <a href="{{ url('scrum_projects_list') }}"
                   class="dropdown-toggle"
                   data-toggle="dropdown"><i class="icon-briefcase"></i> Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for _proj in projects %}
                    <li{% if project == _proj %} class="active"{% endif %}><a href="{{ _proj.get_absolute_url() }}">{{ _proj.name }}</a></li>
                  {% endfor %}
                  {% if perms.scrum.add_project %}
                    <li class="divider"></li>
                    <li><a href="{{ url('scrum_project_new') }}"><i class="icon-plus-sign"></i> New Project</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li{% if request.path_info == url('help') %} class="active"{% endif %}><a href="{{ url('help') }}">Help</a></li>
              <li><a href="{{ url('admin:index') }}">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% block breadcrumbs %}{% endblock %}

    <div class="container">
      <div class="span6 offset3" id="alert_messages">
        {% include "bootstrap/includes/messages.html" %}
      </div>

      {% if bzerror %}
        {% include "scrum/bzerror.html" %}
      {% else %}
        {% block content %}{% endblock %}
      {% endif %}

      <hr>

      <footer>
        <p>&copy; {{ now("%Y") }} Mozilla Foundation &amp; Contributors</p>
        <p>
          Check out
          <a href="https://github.com/mozilla/scrumbugz">
            teh codez
          </a>
        </p>

        <p>Problem? Suggestion? <a href="https://github.com/mozilla/scrumbugz/issues">File an issue</a>.</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.4.2/lodash.min.js"></script>
    <script>
      // fall back to local if CDNs are offline
      window.jQuery || document.write('<script src="{{ STATIC_URl }}js/jquery-1.7.2.min.js"><\/script>');
      window._ || document.write('<script src="{{ STATIC_URl }}js/lodash-0.4.2.min.js"><\/script>');
    </script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    {% block js %}{% endblock %}

    {% if ENABLE_GA %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-170744-7']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}

  </body>
</html>

