{% extends 'base.html' %}

{% block content %}
{% filter markdown %}
# Scrumbugs Help

On Monday, August 20th we launched a major update to scrumbugs. The major features added in this update were:

1. Teams & Projects
2. Backlogs & Readylists

## New features explained

### Teams & Projects
Every project in scrumbugs now must belong to a team. This realtionship allows us to now manage multiple projects in a single sprint.

### Backlogs & Readylists
We have added the concepts of "backlogs" & "readylists" to every project.

Backlogs: A curated bugzilla list that could be worked on
Readylist: A subest of the backlog of bugs that should be worked on

The above will require some changes to your existing workflow.

### Example Workflow

1. A hypothetical new team is added "Mozilla Scrum", the team has 2 projects
  A. Scrumbugs
  B. Robotic Kanban Board
2. Both projects have a backlog of many unrelated tasks.
3. Seperately within each project bugs are moved by a TPM or developer into the ready list, these are the bugs that should be worked on next.
4. In the planning session for the next dev cycle bugs from both projects ready lists are displayed on the team page. Through discussion, bugs from these lists are moved into a sprint.
5. The sprint now contains bugs from 2 projects
6. Stakeholders for each project can look at the individual project pages and see what is currently being worked on and what will be worked on next. Developers and PMs can look at the team page and see all the tasks across projects that are currently assigned.

## What will happen when we launch.

A migration script will run and create a project for each existing team. All bugs will be migrated over.


## What do you need to do after we launch.

### Single Project Teams

If you only have a single project in scrumbugs, all you need to add to your project is a backlog url. This will enable you to use the ready list and manage your sprints.


### Multiple Project Teams

If you have multiple projects you will need to create each of them in scrumbugs with a backlog. Make sure to assign them to your team. If the project already exists in scrumbugs as a team (Mozilla.org for example), it should be created as a project, then request PMAC or BSTERNTH delete the team. Note you will lose historical sprint data when a team is deleted.

## Explain feedback looop

This is a version of scrumbugs that we would like to iterate quickly on. It has the backlog/ready list features we need but the interface and how you move through screens has not been optimized. If you encounter bugs, please file them in bugzilla under the scrumbugs component, or reach out directly to myself or pmac.
{% endfilter %}
{% endblock %}
